#main1 {
    background-color: #E8E8E8;
}

#main2 {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 70px;
    padding-top: 50px;
}

#main3 {
    padding-left: 150px;
    padding-right: 150px;
}

#footer {
    margin-left: 250px;
    margin-right: 150px;

}